.menu > a{
    display: inline-block !important;
}
.plus{
    float: right;
    border:none !important;
}
.set{
    margin:5%;
    width:100%;
    padding:1%;
}
.set >label{
    position: relative;
    left:0;
}
.set >input{
    float: right;
}

.post button {
    margin-left:40%;
}
.right{
    padding-top:4% !important;
}